stages:
  - sync
  - deploy

lektorium-deploy:
  stage: deploy
  image: alpine:latest
  variables:
    LC_ALL: C.UTF-8
    LANG: C.UTF-8
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  script:
    - cat /etc/alpine-release
    - apk add --update python3 git docker-cli bash
    - apk add --update py3-pip || true
    - python3 -m venv ./venv
    - . ./venv/bin/activate
    - git tag && git status && git describe
    - pip install 'spherical-dev[dev]>=0.2.2,<0.3.0' wheel
    - cp ${LEKTORIUM_DEPLOY_CONFIG} invoke.yaml
    - inv deploy
    - docker ps -a
    - deactivate
  only:
    - master

manual_sync:
  stage: sync
  image: alpine:latest
  script:
    - apk add --no-cache git rsync openssh-client

    - repo_url=$(echo "${CI_REPOSITORY_URL}" | sed 's/.*@//')

    - git remote set-url origin https://oauth2:${CI_ACCESS_TOKEN}@$repo_url

    - git config --global user.name "GitLab CI"
    - git config --global user.email "ci@${CI_SERVER_HOST}"

    - git clone https://github.com/sphericalpm/lektorium.git /tmp/lektorium

    - rsync -av --delete --exclude='.git' /tmp/lektorium/ ./

    - git diff

    - git add .
    - git commit -am 'Sync with upstream repo'
    - git push origin HEAD:${CI_COMMIT_REF_NAME}

  only:
    - web
