aiohttp==3.5.4
aiohttp_cors==0.7.0
aiohttp_debugtoolbar==0.5.0
aiohttp-security==0.4.0
aiohttp_session==2.7.0
aiodns==2.0.0
envparse==0.2.0
flake8
flake8-import-order-spoqa
flake8-docstrings
flake8-builtins
flake8-blind-except
flake8-quotes
flake8-eradicate
flake8-print
flake8-mutable
flake8-spellcheck
pep8-naming
pydocstyle==3.*
pytest
pytest-cov
